@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300&display=swap');
* {
    font-family: 'Zilla Slab', serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* MOBLIE LAYOUT */

.header {
    flex-direction: column;
    height: auto;
}

.nav-container ul li {
    margin-right: 1.5em;
}

li a {
    font-size: 1em;
}

.main-container {
    flex-direction: column;
}

.main-img {
    width: 100%;
    height: auto;
    border-bottom: 2px solid #000;
}

.main-content {
    height: auto;
}

.main-heading {
    height: auto;
}

.main-paragraph {
    height: auto;
}

.main-button {
    height: auto;
}

/* DEKSTOP LAYOUT */

@media (min-width: 890px) {
    .header {
        flex-direction: row;
        height: 10vh;
    }
    .nav-container ul li {
        margin-right: 4em;
    }
    li a {
        font-size: 1.5em;
    }
    .nav-container {
        display: flex;
        align-items: center;
    }
    .main-container {
        position: relative;
        flex-direction: row;
        height: 90vh;
    }
    .main-img {
        display: block;
        object-fit: cover;
        width: 70%;
        border: none;
        
    }
    .main-img-overlay {
        position: absolute;
        top: 0;
        width: 70%;
        height: 90vh;
        background-color: rgba(255, 255, 255, 0.3);
    }
    .main-content {
        width: 30%;
        height: 90vh;
        border-left: 2px solid #000;
    }
    .main-heading {
        height: 20vh;
    }
    .main-paragraph {
        height: 50vh;
        overflow-y: auto;
    }
    .main-button {
        height: 20vh;
    }
}

/* FOR ALL LAYOUTS */

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 2px solid #000;
}

.header-img-logo {
    width: 250px;
    display: block;
    object-fit: contain;
}

.nav-container {
    padding-bottom: 10px;
    text-align: center;
}

.nav-container ul li {
    display: inline;
}

li a {
    text-decoration: none;
    color: #000;
}

li a:hover {
    font-weight: bold;
}

.main-container {
    display: flex;
}

.main-img {
    display: block;
    object-fit: cover;
}

.main-content {
    display: flex;
    flex-direction: column;
}

.main-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.main-paragraph {
    padding: 20px;
}

.main-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.main-button button {
    background-color: #fff;
    border-radius: 15px;
    font-size: 1.25em;
    border: 2px solid #000;
    height: 3em;
    width: 50%;
}

.main-button button:hover {
    background-color: #000;
    border: 2px solid #fff;
    color: #fff;
    transition: 1s;
}